<div class="container container-about mx-auto py-8 box-vision about-box">
  <div class="">
    <div class="grid grid-cols-2 gap-6">
      <div class="box_block">
        <h2>{{ block.settings.block_heading_1 }}</h2>
        <p>{{ block.settings.block_subheading_1 }}</p>
      </div>
      <div class="box_block">
        <h2>{{ block.settings.block_heading_2 }}</h2>
        <p>{{ block.settings.block_subheading_2 }}</p>
      </div>
    </div>
  </div>
</div>