<div class="d-grid page-width">
    <div class="box_block_1">
        <h2>{{ block.settings.block_heading_1 }}</h2>
        <p>{{block.settings.block_subheading_1}}</p>
    </div>
    <div class="box_block_1">
        <h2>{{ block.settings.block_heading_2 }}</h2>
        <p>{{block.settings.block_subheading_2}}</p>
    </div>
</div>