.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}
.article-template {
  text-align: justify;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content  {
  margin-top: 24px;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@media screen and (min-width: 750px) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 750px) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.section_blog-post {
  padding: 48px 0 83px;
  background: #F1E4C5;
}

.article-template__back:last-child {
  display: none;
}

.article_blogs-post {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 30px;
}

.article-block {
  margin-bottom: 16px;
}

.article-block:last-child {
  margin-bottom: 0;
}

.sidebar_blogs-post {
  padding-top: 86px;
}

.sidebar_blogs-post .blog__title-news {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #3B0B07;
  margin: 0 0 16px;
  font-family: 'PlusJakartaSans';
}

.article-template__title {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.45px;
  font-weight: 700;
  margin: 0 0 4px;
  color: #333;
  font-family: "Montserrat", sans-serif;
}
.article_blogs-post .circle-divider,
.caption-with-letter-spacing {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2px;
  color: #333;
  font-family: 'PlusJakartaSans';
  padding-top: 0;
}

.article-template__content img {
  border-radius: 8px;
  width: 100%;
  display: block;
}

.article-template__content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'PlusJakartaSans';
}

.article-image img {
  border-radius: 8px;
}

@media screen and (max-width: 749px) {
  .article_blogs-post {
    grid-template-columns: auto;
  }
}